.games-we-play-container {
  margin-top: -100px;
  max-width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
}

.game-image-card {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
}

.game-image {
  height: 100%;
  width: 100%;
}
