.games-we-play-container {
  margin-top: -80px;
  max-width: 80vw;
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-image-card {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
}

.game-image {
  height: 100%;
  width: 100%;
}
