@import "./VARIABLES.scss";

.hero {
  background: url("../Assets/Backgrounds/filler_computer.jpg") no-repeat center
    center fixed;
  background-size: 100% 100%;
  border: 3px solid transparent;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(
    top,
    $starcraft-blue 0%,
    #613f75 50%,
    #ef798a 100%
  );
  -webkit-border-image: -webkit-linear-gradient(
    top,
    $starcraft-blue 0%,
    #613f75 50%,
    #ef798a 100%
  );
  border-image: linear-gradient(
    to bottom,
    $starcraft-blue 0%,
    #613f75 50%,
    #ef798a 100%
  );
  border-image-slice: 1;
  height: calc(100vh - 6px);
}

.hero-header {
  margin: 30vh 12vw;
}

.hero-header-name {
  background: -webkit-linear-gradient($starcraft-blue, #613f75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-size: calc(1vw + 64px);
  margin: 0;
}

.hero-header-info {
  background: -webkit-linear-gradient(#613f75, #613f75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(1vw + 12px);
  margin: 10px 0 0 1em;
}

@media only screen and (max-width: 700px) {
  .hero-header-name {
    text-align: center;
  }

  .hero-header-info {
    text-align: center;
  }
}
