.test {
  width: calc(100vw - 6px);
  height: calc(100vh - 6px);
  border-style: solid;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(
    top,
    #00aeff 0%,
    #613f75 50%,
    #ef798a 100%
  );
  -webkit-border-image: -webkit-linear-gradient(
    top,
    #00aeff 0%,
    #613f75 50%,
    #ef798a 100%
  );
  border-image: linear-gradient(
    to bottom,
    #00aeff 0%,
    #613f75 50%,
    #ef798a 100%
  );
  border-image-slice: 1;
  background: url("../Media//Backgrounds/filler_computer.jpg") no-repeat center
    center fixed;
  background-size: 100% 100%;
}
